@model SB_Admin.Entities.ProveedoresOBJ

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Registro de proveedor</h6>
    </div>
    <div class="card-body">

        @using (Html.BeginForm("RegistrarProveedores", "Proveedores", FormMethod.Post))
        {
            <!--metodo-->
            <div class="row">
                <!--para las filas-->
                <!--se crea la columna-->
                <div class="col-6">
                    <div class="form-group">
                        <label>Proveedor:</label>
                        @Html.Label("nombre", "Nombre del Proveedor")
                        @Html.TextBoxFor(Model => Model.nombre, new { @class = "form-control", @required = "required", @placeholder = "Nombre" })
                        @Html.ValidationMessageFor(Model => Model.nombre, null, new { @class = "text-danger" })

                    </div>

                    <br />
                </div>


                <div class="col-6">
                    <div class="form-group">
                        @Html.Label("direccion", "Dirección del proveedor")
                        @Html.TextBoxFor(Model => Model.direccion, new { @class = "form-control", @required = "required", @placeholder = "Dirección" })
                        @Html.ValidationMessageFor(Model => Model.direccion, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        @Html.Label("telefono", "Teléfono")
                        @Html.TextBoxFor(Model => Model.telefono, new { @class = "form-control", @type = "number", @required = "number", @placeholder = "8888-88-88", maxlength = "8" })
                        @Html.ValidationMessageFor(Model => Model.telefono, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        @Html.Label("email", "Correo Electrónico")
                        @Html.TextBoxFor(Model => Model.email, new { @class = "form-control", @type = "email", @placeholder = "Ejemplo@dominio.com" })
                        @Html.ValidationMessageFor(Model => Model.email, null, new { @class = "text-danger" })

                        <br />
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Registrar Proveedor</button>
                </div>
            </div>
        }


        <!-- DataTales Example -->
    </div>
</div>

